.showMore {
    display: block;
    font-size: 24px;
    padding: 0.5em;
    margin: 32px 0 96px 0;
    width: 100%;

    border: none;

    cursor: pointer;
}

.showMore:hover {
    background-color: #99ff99;
    color: black;
}

table label {
    display: inline-block;
    width: 100%;
}

tr, th, td {
    margin: 0;
    padding: 0;
}

table input[type="text"] {
    width: 100%;
}

.cardArticle {
    color: black;
    text-decoration: none;
    display: block;
    border: 2px solid #c5c5c5;
    height: 100%;
    cursor: pointer;
    margin: 8px 0;
}

.cardArticle:hover {
    border: 2px solid #99ff99;
}

ul {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
}

.cardLabel {
    padding: 8px;
    color: white;
    font-size: 1.1em;
    position: relative;
}

.cardContent {
    position: relative;
}

.cardCount {
    position: absolute;
    right: 16px;
    bottom: 8px;
    display: inline-block;
    padding: 4px;
    background-color: #666666;
    color: white;
    border-radius: 8px;
}

.ingredientList {
    padding: 8px;
    height: auto;
    overflow-y: hidden;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.missing {
    background-color: #ffeecc;
}

@media screen and (min-width: 600px) {
    .cardArticle {
        display: inline-block;
        width: 300px;
        margin: 8px;
    }
    .cardLabel {
        height: 90px;
        overflow: hidden;
    }
    .ingredientList {
        height: 150px;
        overflow-y: auto;
    }
    .showMore {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}