* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D3D3D3;
}

#content {
    background-color: #33cc33;
}

.nav-tab {
    text-align: center;
    display: inline-block;
    background-color: #33cc33;
    color: white;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border: 3px solid #33cc33;
    border-bottom: none;
}

.nav-tab.active {
    background-color: white;
    border-bottom: none;
    color: black;
}

.nav-tab:hover {
    background-color: #99ff99;
    color: black;
}

.nav-tab.main {
    width: 50%;
}

main {
    border: 3px solid #33cc33;
    border-top: none;
    background-color: white;
    padding: 8px 3%;
}

nav {
    border-top: 3px solid white;
}

.menu-button::before {
    content: "☰";
}

#nav-sub {
    position: relative;
}

.drawer {
    z-index: 3;
    left: 0;
    top: 100%;
    display: none;
    position: absolute;
}

.drawer .nav-tab {
    display: block;
    text-align: left;
}

.select {
    display: block;
    position: relative;
    background-color: #33cc33;
    color: white;
    text-decoration: none;
    padding: 0.25em 0.5em;
    padding-left: 1.5em;
    border: 3px solid #33cc33;
    border-bottom: none;
}

.select.selected {
    background-color: #009933;
}

.select:before {
    position: absolute;
    content: "";
    top: 14px;
    left: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select.selected:before {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

@media screen and (min-width: 600px) {
    #content {
        max-width: 980px;
        margin: auto;
    }
    main {
        margin: auto;
        padding: 8px;
    }
    .nav-tab {
        padding: 0.25em 1em;
    }
    .nav-tab.main {
        width: 10em;
    }
    .drawer .nav-tab {
        display: inline-block;
        text-align: center;
    }
    .drawer {
        display: block;
        position: static;
    }
    .select {
        display: none;
    }
}