body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-size: 18px;
    padding: 2pt 6pt;
    margin: 1pt;
}

.showMore {
    display: block;
    width: 300px;
    font-size: 24px;
    padding: 2pt 6pt;
    margin: 8px;
}

fieldset {
    display: inline-block;
}

table label {
    display: inline-block;
    width: 100%;
}

tr, th, td {
    margin: 0;
    padding: 0;
}

table input[type="text"] {
    width: 100%;
}

.cardArticle {
    color: black;
    text-decoration: none;
    width: 300px;
    display: inline-block;
    border: 2px solid #c5c5c5;
    margin: 8px;
    height: 100%;
    cursor: pointer;
}

.cardArticle:hover {
    border: 2px solid #66ccdd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
}

.cardLabel {
    padding: 8px;
    height: 75px;
    overflow: hidden;
    background-color: #dddddd;
    font-size: 1.1em;
    position: relative;
}

.cardContent {
    position: relative;
}

.cardCount {
    position: absolute;
    right: 16px;
    bottom: 8px;
    display: inline-block;
    padding: 4px;
    background-color: #666666;
    color: white;
    border-radius: 8px;
}

.ingredientList {
    padding: 8px;
    height: 150px;
    overflow-y: auto;
}

.missing {
    background-color: #ffeecc;
}

@media screen and (max-width: 600px) {
    .cardArticle {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .ingredientList {
        padding: 8px;
        height: auto;
        overflow-y: hidden;
    }

    .showMore {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 64px;
    }
}