#getStarted {
    text-align: center;
    display: block;
    width: 60%;
    margin: 64px auto;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

#getStarted:hover {
    background-color: #99ff99;
    color: black;
}

#scrollUp {
    background-color:#7a5252;
    color: white;
    z-index: 4;
    position: fixed;
    bottom: -64px;
    right: 16px;
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    text-decoration: none;
}

#scrollUp::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 21px;
    top: 24px;
    width: 16px;
    height: 16px;
    border-top: 8px solid white;
    border-right: 8px solid white;
    transform: rotate(-45deg);
}

/* ################## */

/* Loading animations */

/* ################## */

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 50px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}